*{
	margin:0;
	padding: 0;
}
body{
	background:url(../images/publish.jpg);
	background-repeat: no-repeat;
	background-position:top;
	background-attachment: fixed;
	background-size: 1500px 1000px;
}
.daohang{
	margin:0 auto;
	width:1200px;
	height:80px;
}
.logo{
    height:60px;
    width:150px;
	float:left;
	font-size: 80px;
	font-family: Brush Script MT;
}
.share{
	float:right;
	font-family: 隶书;
	font-size: 50px;
}
.a1:link{
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.a1:visited{
	color:black;
}
.a1:hover{
	color:gray;
}
.publish{
	margin:0 auto;
	width:1200px;
	height:1000px;
	margin-top:70px;
	background-color: #F0FFF0;
	box-shadow: 10px 10px 10px silver;
	border-radius: 25px;
}
.top{
	width:1200px;
	height:200px;
}
.theme{
	float: left;
	height:120px;
	width:400px;	
}
.title{
	height:50px;
	width:400px;
	margin:10px;
	border-bottom: 1 solid black;
	font-size: 50px;
	font-family: 隶书;
}
.theme li{
	list-style-type: none;
	float:left;
	margin: 10px;
	font-size: 80px;
	font-family: 华文彩云;
}
.publish form{
	float: right;
	margin: 30px;
	font-size: 45px;
	font-family: 隶书;
}
.publish input{
	width: 300px;
	height:45px;
	font-size: 32px;
}
.photo{
	width:1200px;
	height:200px;
}
.passage{
	margin:0 auto;
	width:1000px;
	height:500px;
}